.glasses {
	position: absolute;
  	margin: auto;
  	top: 10px;
  	right: 0;
  	bottom: 30px;
  	left: 10px;
}
.hat {
	position: absolute;
  	margin: auto;
  	top: 10px;
  	right: 0;
  	bottom: 250px;
  	left: 20px;
}
.octopus {
	position: absolute;
  	margin: auto;
  	top: 10px;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	z-index: -2;
}